{% extends "classroom/teachers/teachers_home.html" %}
{% block content1 %}
<
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>comment</td>
    <td>created</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.comment }}</td>
    <td>{{ object.created }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'teachers:feedback_create' %}">Create new FeedBack</a>
{% endblock %}
